<div class="navbar">
	<form method="post" action="/users/results">
		<input type="text" name="search">
		<input type="submit" value="Search" class="button">
	</form>
</div>
<div class="sidebar">
	<!-- logo/name on top -->
	<!-- where followers/following goes -->
</div>
<div class="main">
	<%= @user.username %>
	<%= @user.about_me %>
	<%= @user.location %>
	<form method="get" action="/users/<%= @user.id %>/edit">
		<input type="submit" value="Edit Profile">
	</form>

	<form method="post" action="/users/post">
		<input type="hidden" name="id" value="<%= @user.id %>">
		<input id="twit-text" type="text" name="Twit" placeholder="Got something to say?">
		<input type="submit" value="Twit" class="button">
	</form>

	<% if @posts != nil %>
	<% @posts.each do |post| %>
	<%= post.content %>
	<% end %>
	<% end %>

<form method="get" action="/users/stream">
	<input type="submit" class="button">
</form>
</div>

